<div class="container-fluid">
    <div class="row">
        <div class="wsi-challenge-banner col-sm-12">
            Welcome to the WSI markup challenge. Good luck!
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 wsi-menu">
            <ul class="nav nav-tabs nav-stacked">
                <span class="wsi-subheader wsi-categories">Categories</span>
                <li role="presentation">
                    <ul class="nav nav-tabs nav-stacked">
                        <li role="presentation"><a href="#/challenge">Bedding</a></li>
                        <li role="presentation"><a href="#/challenge">Bath</a></li>
                        <li role="presentation"><a href="#/challenge">Rooms</a></li>
                        <li role="presentation"><a href="#/challenge">Kitchen</a></li>
                        <li role="presentation"><a href="#/challenge">Living</a></li>
                        <li role="presentation"><a href="#/challenge">Cars</a></li>
                        <li role="presentation"><a href="#/challenge">Birds</a></li>
                        <li role="presentation"><a href="#/challenge">Planes</a></li>
                    </ul>
                </li>
                <li role="presentation">
                    <span class="wsi-subheader wsi-pages">Pages</span>
                    <ul class="nav nav-tabs nav-stacked">
                        <li role="presentation"><a href="#/challenge">Bedding</a></li>
                        <li role="presentation"><a href="#/challenge">Bath</a></li>
                        <li role="presentation"><a href="#/challenge">Rooms</a></li>
                        <li role="presentation"><a href="#/challenge">Kitchen</a></li>
                        <li role="presentation"><a href="#/challenge">Living</a></li>
                        <li role="presentation"><a href="#/challenge">Cars</a></li>
                        <li role="presentation"><a href="#/challenge">Birds</a></li>
                        <li role="presentation"><a href="#/challenge">Planes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 wsi-main-content">
            <div class="container-fluid wsi-main-description">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="wsi-lead">
                            Lorem ipsum dolor sit amet
                        </p>
                        <p class="wsi-ad-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis uliamcorper sem. Morbi tincudunt posuere justo. Proin orci. Duis non reisus non mi ultricies consequat. Proin fingilla vulputate metus. Aenean luctus malesuada nunc. Donec accumsan lorem vel lacus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Aenean iaculis ullamcorper sem. Morbi tincidunt posuere justo. Proin orci. Duis non reisus non mi ultricies consequat. Proin fringilla vulpatatte metus. Aenean luctus malesuada nunc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid wsi-picture-carousel">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="empty-picture-block" src="">
                    </div>
                    <div class="col-sm-3">
                        <img class="empty-picture-block" src="">
                    </div>
                    <div class="col-sm-3">
                        <img class="empty-picture-block" src="">
                    </div>
                    <div class="col-sm-3">
                        <img class="empty-picture-block" src="">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="call-out">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis uliamcorper sem. Morbi tincudunt posuere justo. Proin orci. Duis non reisus non mi ultricies consequat. Proin fingilla vulputate metus. Aenean luctus malesuada nunc. Donec accumsan lorem vel lacus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Aenean iaculis ullamcorper sem. Morbi tincidunt posuere justo. Proin orci. Duis non reisus non mi ultricies consequat. Proin fringilla
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="call-out">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis uliamcorper sem. Morbi tincudunt posuere justo. Proin orci. Duis non reisus non mi ultricies consequat. Proin fingilla vulputate metus. Aenean luctus malesuada nunc. Donec accumsan lorem vel lacus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Aenean iaculis ullamcorper sem. Morbi tincidunt posuere justo. Proin orci. Duis non reisus non mi ultricies consequat. Proin fringilla
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
